<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactV1</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'exampleApp/index' %>
    <%= stylesheet_pack_tag 'exampleApp/assets/stylesheets/app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
